<ion-header>
  <ion-toolbar>
    <ion-title>Milenios Software</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="todo">

  <div class="header">
    <ion-button href="#" class="button_header">Modificar</ion-button>
    <ion-toolbar>
     <ion-searchbar class="search_bar"></ion-searchbar>
    </ion-toolbar>
  </div>

  <div class="container">

    <div class="container_button_left">
      <ion-button href="#" size="large" class="button_left btn_left"><ion-icon name="airplane-outline"></ion-icon> | Tiquetes de avion</ion-button>
      <ion-button href="#" size="large" class="button_left btn_left"><ion-icon name="language-outline"></ion-icon> | <p>Traductor</p></ion-button>
      <ion-button href="#" size="large" class="button_left btn_left"><ion-icon name="people-outline"></ion-icon>| Profecionales</ion-button>
      <ion-button href="restaurante" size="large" class="button_left"><ion-icon name="restaurant-outline"></ion-icon>| Restaurantes</ion-button>
    </div>
  
    <div class="container_button_center">
      <ion-button href="#" size="large" class="button_center left"> Perfil de <br> ususrio</ion-button>
      <ion-button href="#" size="large" class="button_center"> Perfil del <br> aseror</ion-button>
    </div>
  
    <div class="container_button_right">
      <ion-button href="#" size="large" class="button_right btn_right"><ion-icon name="beer-outline"></ion-icon>|<p>Ventas de licores</p></ion-button>
      <ion-button href="#" size="large" class="button_right btn_right"><ion-icon name="car-outline"></ion-icon>| Conductor</ion-button>
      <ion-button href="#" size="large" class="button_right btn_right"><ion-icon name="map-outline"></ion-icon>| Mapa</ion-button>
      <ion-button href="#" size="large" class="button_right"><ion-icon name="bed-outline"></ion-icon>| Hoteles</ion-button>
    </div>

  </div>

</ion-content>






